<html>

<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>

<body>
    <div class="overlay">
        <header class="menu-bar">
            @(await Component.InvokeAsync("Menu"))
        </header>

        <main class="main-page" style="margin:2rem">
            @RenderBody()
        </main>


        @RenderSection("Scripts", false)
    </div>

</body>
</html>
