<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

@{
    var isHomeIndex = ViewContext.RouteData.Values["controller"]?.ToString() == "Home" &&
                      ViewContext.RouteData.Values["action"]?.ToString() == "Index";
    var navbarClass = isHomeIndex ? "special-navbar" : "navbar";
}

<nav class="menu @navbarClass">

    <button type="button" style="font-size:40px; font-weight: bold; margin-left:1rem; color:white;" class="btn home_btn" onclick="window.location.href='@Url.Action("Index", "Home")'">BUDIMEB</button>
        <div>
            @foreach (var category in (IEnumerable<budimeb.Models.Category>)ViewData["Categories"])
            {
            <a class="btn"  style="font-size:25px; color:white;" href="@Url.Action("ProjectsByCategory", "Home", new { categoryId = category.Id })">
                <i class="fa-light fa-plate-utensils"></i> @category.Name
            </a>
            }
        </div>
    <div>
        <a class="nav-link"  href="https://www.facebook.com/Budimeb" target="_blank">
            <i class="fab fa-facebook"></i> <!-- Ikona Facebooka -->
        </a>
        <a class="nav-link" style="margin-right:1rem; margin-left:1rem;" asp-area="" asp-controller="Home" asp-action="Contact">
            <i class="fas fa-phone"></i>
        </a>
    </div>
        
    </nav>