
@{
    ViewData["Title"] = "Kontakt";
}

<div class="article-container" style="justify-content:center;">
    <h2 class="article-header">Kontakt</h2>
    <div class="underline"></div>
    <div class="article-content poznaj-nas-lepiej-content">
        <img class="img-article" src="~/contact.jpg" onclick="showEnlargedImage('/contact.jpg')" />
        <div class="article-text" style="margin-left:3rem; margin-top:3rem;">
            <p style="text-decoration:none;">
                Klemensa Janickiego 29, 71-899 Szczecin<br>
                <a href="tel:+48698395186">tel. +48 698 395 186</a><br>
                <a href="fax:+48918206256">fax. +48 91 8206256</a><br>
                <a href="mailto:info@budimeb.pl">e-mail: info@budimeb.pl</a>
            </p>
            <div class="fb-page" style="margin-top:3rem;" data-href="https://www.facebook.com/Budimeb" data-width="450" data-height="450" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Budimeb" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Budimeb">Budimeb producent mebli</a></blockquote></div>
        </div>
    </div>
</div>

<div class="article-container">
    <h2 class="article-header">Mapa</h2>
    <div class="underline"></div>
    <div class="article-content">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22609.83048946578!2d14.516358612221772!3d53.44047361203001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47aa09616590da93%3A0x2766d8ed07e07cf7!2sBUDIMEB!5e0!3m2!1spl!2spl!4v1722372388485!5m2!1spl!2spl" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
</div>

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v20.0&appId=194828582263538" nonce="FNr5VeCm"></script>