.map {
    height: 450px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.img-article {
    --s: 15px; /* size of the frame */
    --b: 2px; /* border thickness */
    --w: 400px; /* width of the image */
    --c: rgb(88, 57, 39);
    width: var(--w);
    aspect-ratio: 1;
    object-fit: cover;
    padding: calc(2*var(--s));
    --_g: var(--c) var(--b),#0000 0 calc(100% - var(--b)),var(--c) 0;
    background: linear-gradient( var(--_g)) 50%/100% var(--_i,100%) no-repeat, linear-gradient(90deg,var(--_g)) 50%/var(--_i,100%) 100% no-repeat;
    outline: var(--b) solid var(--c);
    outline-offset: calc(var(--s)/-2);
    --_i: calc(100% - 2*var(--s));
    margin-bottom: 1rem;
}

.article-text {
    flex: 1;
    margin-left: 1rem;
    font-size: 1.2rem;
    line-height: 1.6;
    color: black;
}

    .article-text p {
        margin-bottom: 1rem;
    }
.poznaj-nas-lepiej-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 2rem 4rem;
    flex-wrap: wrap;
}

/* Responsywność */
@media (max-width: 768px) {
    .poznaj-nas-lepiej-content {
        flex-direction: column;
    }

    .img-article {
        width: 100%;
        aspect-ratio: auto; /* Allow image to adapt to its content */
    }

    .article-text {
        margin-left: 0;
        max-width: 100%;
        text-align: center;
    }
}



.category-icon {
    display: none;
}

/* Pokaż ikony i ukryj tekst na mniejszych ekranach */
@media (max-width: 1000px) {
    .category-text {
        display: none;
    }

    .category-icon {
        display: flex;
        align-items: center;
    }
}

.article-container {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 3rem;
    position: relative;
}

.article-header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    margin-left: 4rem;
}

.underline {
    width: 100%;
    height: 2px;
    background-image: linear-gradient(90deg, rgba(89, 131, 252, 0) 0%, rgba(88, 57, 39, 1) 10%, rgba(89, 131, 252, 0) 100%);
    margin-left: 0.5rem;
}

.article-content {
    display: flex;
    align-items: flex-start; /* Align items at the start */
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
    line-height: 1.6;
    color: black;
    font-size: 1.4rem;
}

.img-article {
    --s: 15px; /* size of the frame */
    --b: 2px; /* border thickness */
    --w: 400px; /* width of the image */
    --c: rgb(88, 57, 39);
    width: var(--w);
    aspect-ratio: 1;
    object-fit: cover;
    padding: calc(2*var(--s));
    --_g: var(--c) var(--b),#0000 0 calc(100% - var(--b)),var(--c) 0;
    background: linear-gradient( var(--_g)) 50%/100% var(--_i,100%) no-repeat, linear-gradient(90deg,var(--_g)) 50%/var(--_i,100%) 100% no-repeat;
    outline: var(--b) solid var(--c);
    outline-offset: calc(var(--s)/-2);
    --_i: calc(100% - 2*var(--s));
}

.article-text {
    flex: 1;
    margin-right: auto; /* Push text to the left */
    margin-left: 1rem;
    max-width: 60%;
}

    .article-text p {
        margin-bottom: 1rem;
    }

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-radius: 0px;
    height: 50px; /* Zwiększona wysokość */
    padding: 0 20px; /* Dodatkowy padding dla lepszej czytelności */
    line-height: 50px; /* Ustawienie line-height na wysokość przycisku */
    position: relative;
    transition: 0.3s;
    overflow: hidden;
}

    .btn::before, .btn::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        background-color: #ebe9e4;
        transition: .3s;
        transform: translateX(-100%); /* Start with borders outside the button */
    }

    .btn::before {
        top: 0;
    }

    .btn::after {
        bottom: 0;
    }

    .btn:hover::before, .btn:hover::after {
        transform: translateX(0); /* Move borders to the visible area on hover */
    }

body {
    color: black;
    font-family: "Josefin Sans", sans-serif;
    min-height: 100vh;
    background-color: #ebe9e4; /* Ustaw jednolity kolor tła */
    background-image: url('../background.jpg');
    background-repeat: no-repeat; /* Zapobiega powtarzaniu się obrazka */
    background-position: bottom right; /* Ustawia obrazek w prawym dolnym rogu */
    background-size: 70%; /* Skaluje obrazek na wysokość strony */
    position: relative;
}

/* Wspólne style dla obu navbarów */
.navbar, .special-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
}

    .navbar div, .special-navbar div {
        display: flex;
        align-items: center;
    }

        .navbar div:first-child, .special-navbar div:first-child {
            justify-content: flex-start;
        }

        .navbar div:nth-child(2), .special-navbar div:nth-child(2) {
            flex-grow: 1;
            justify-content: center;
            text-align: center;
        }

        .navbar div:last-child, .special-navbar div:last-child {
            justify-content: flex-end;
        }

/* Specyficzne style dla special-navbar */
.special-navbar {
    background: linear-gradient(to bottom, rgba(88, 57, 39, 0.6) 75%, rgba(88, 57, 39,0) 100%); /* #583927 */
    color: white;
}
    .special-navbar .home_btn {
        display: none;
    }

/* Specyficzne style dla navbar */
.navbar {
    background: linear-gradient(to bottom, rgba(88, 57, 39,0.95) 75%, rgba(88, 57, 39,0) 100%); /* #583927 */
    color: white;
}
    .navbar .home_btn {
        display: none;
        display: flex;
        align-items: center;
    }

    /* Usunięcie marginesów i paddingów */
    .navbar, .special-navbar, .navbar div, .special-navbar div {
        margin: 0;
        padding: 0;
    }


.btn-primary {
  color: white;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: white;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
